
.favoritodetail{
    width: 200px;
    height: 250px;
    margin-top: 10px;
    margin-left: 250px;
    display: inline-block;
    border: 1px;
    border-style: solid;
    justify-items: center;
    text-align: center;
}