.boton{
    background-color: #0527e7; /* Green */
    border-radius: 10%;
    width: 150px;
    height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
}


.botonreset{
    background-color: #0527e7; /* Green */
    border-radius: 10%;
    width: 100px;
    height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
}

.input {
    width: 50px;
}

.favoritoitemdetail{
    width: 20px;
    height: 20px;
    margin-left: 240px;
    margin-top: 10px;
}


@media screen and (max-width: 375px), (max-width: 414px)
{

.titulo{
    width: 250px;
    margin-top: 100px;
    display: flex;
    font-size: x-large;
    margin-left: 75px;
}

.productocategoria{
    margin-left: 55px;
    margin-top: 20px;
}

.input{
    width: 60px;
}

}