.section{
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 270px;
    margin-top: 150px;
    /* border: 1px;
    border-style: solid;
    text-align: center;
    font-size: 20px; */
    /* line-height: 100px; */
}


.ActiveOption{

    background-color: #4CAF50; /* Green */
    border-radius: 10%;
    width: 250px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 25px;
}


.Option{
        background-color: #0527e7; /* Green */
        border-radius: 10%;
        width: 250px;
        height: 50px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 40px;
        margin-bottom: 25px;
}


@media screen and (min-width: 375px)
{

    .section{
        display: inline-block;
        position: fixed;
        grid-template-rows: 100px;
        width: 300px;
        height: 0px;
        margin-top: 20px;
        margin-left: 40px;

        /* border: 1px;
        border-style: solid;
        text-align: center;
        font-size: 20px; */
        /* line-height: 100px; */
    }



    .ActiveOption{

        background-color: #4CAF50; /* Green */
        border-radius: 10%;
        width: 90px;
        height: 30px;
        color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 15px;
        margin-bottom: 25px;
        margin-left: 5px;
        margin-top: 20px;
    }
    
    
    .Option{

            background-color: #0527e7; /* Green */
            border-radius: 10%;
            width: 90px;
            height: 30px;
            color: white;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 15px;
            margin-bottom: 25px;
            margin-left: 5px;
            margin-top: 20px;
    }

}



