.cabeceras {
    display: inline-flex;
}
 
.cabecerah1{
    display: inline-flex;
}

.botonfavo{
    display: inline-flex;
    margin-top: 20px;
    width: 35px;
    height: 35px;
}

.numerofavoritos{
    display: inline;
    font-size: x-large;
}


@media screen and (min-width: 375px)
{

.cabecerah1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.botoncarrito{
    margin-left: 30px;
}




}
